/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Page Layout */
  body {
    display: flex;
  flex-direction: column;
  min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #2b2b2b;
    background-color: #2b2b2b;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
  }

